html, body {
  margin: 20px 50px 20px 50px;
  background-color: #C8D6E3;
  font-family: 'Josefin Slab', serif;
}
#title{
  text-align: center;
}
.links{
  text-align: center
}
textarea{
  width: 46%;
  box-sizing: border-box;
  border: 2px solid white;
  float: left;
  height: 200px;
  margin: 2%;
  border-radius: 10px;
  background-color: #C6C6D1;
  color: black;
  font-size: 1.5em;
  font-family: 'Josefin Slab', serif;
  padding: 10px;
}

.exampleTextArea{
  background-color:#728273;
  color: #C6C6D1;
}


.createButton > button{
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  font-size: 2em;
  font-family: 'Josefin Slab', serif;
}

.flash{
  text-align:center;
  font-size: 2em;
}
.note{
  width: 46%;
  box-sizing: border-box;
  border: 2px solid white;
  float: right;
  height: 200px;
  margin: 2%;
  border-radius: 10px;
  background-color: #728273;
  color: #C6C6D1;
  font-size: 1.5em;
  padding: 10px;
}

.deleteButton > button{
  padding: 5px;
  border-radius: 2px;
}
a:link{
  text-decoration: none;
  color: black;
}
a:visited{
  text-decoration: none;
  color: black;
}
